# App Info
APP_DEBUG=true
APP_URL=http://127.0.0.1:8088
APP_KEY=change_me_with_a_random_key
APP_DOMAIN=example.local

# Assets
ASSETS_VERSION=0.0

# Database
DB_HOSTNAME=127.0.0.1:3307
DB_USERNAME=sf8_test_user
DB_PASSWORD=sf8_test_password
DB_DATABASE=main:myapp_sf8_test
DB_CHARSET=latin1
DB_COLLATION=latin1_swedish_ci
DB_CONNECTION_LOG=false

# Backend default user
USER_NAME=Admin
USER_SURNAME=User
USER_EMAIL=admin@example.local
USER_USERNAME=admin
USER_PASSWORD=ChangeMe123!
